/* style.css */

body{
    font-family: "roboto", Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header-container-outer {
  background-color: #1F2937;
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 40px;
  padding: 16px 0;
  /* border: solid 1px red; */
  gap: 24px;
  flex-wrap: wrap-reverse;

}

.header-container-inner-left {
    background-color: #1F2937;
    display: flex;
    /* flex-direction: row-reverse; */
    
    align-items: center;
    justify-content: space-between;
    /* max-width: 800px; */
    /* border: solid orange 1px; */
    flex-wrap:wrap-reverse;
    /* flex-flow: row-reverse; */
    width: 400px;

    /* padding: 0px 40px; */

}

.header-container-inner-right {
  background-color: #1F2937;
  display: flex;
  /* flex-direction: row-reverse; */
  
  align-items: center;
  justify-content:flex-end;
  /* max-width: 800px; */
  /* border: solid orange 1px; */
  flex-wrap:wrap-reverse;
  /* flex-flow: row-reverse; */
  width: 400px;

  /* padding: 0px 40px; */

}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    /* height: 50px; */
    /* margin-bottom: auto; */
    flex-wrap: wrap;
    margin-left: 6px;
    /* border: solid 1px pink; */
    
    /* margin-left: 16px; */
}

.header-link-list {
    /* .header-container-inner { */
    list-style-type: none;
    margin: 0 0 auto 0;
    padding: 0;
    display: flex;
    /* margin-bottom: auto; */
    /* gap: 16px; */
    /* min-width: 300px; */
    /* max-width: 500px; */
    flex: 1 1 auto;
    
    /* flex-wrap: wrap; */
    /* border: solid 1px white; */
    gap: 12px;
    justify-content: flex-end;


    /* margin-right: 60px; */
    /* justify-items: flex-end; */
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 12px;
    /* border: solid 1px white; */
  }

    .header-link-container { 
    display: flex;
    /* margin-bottom: auto; */
    /* width: 400px; */
    justify-content: flex-end;
    flex-wrap: wrap;
    /* margin: 6px; */
    /* border: solid 1px white; */
    /* border: solid 2px white; */
    /* flex-direction: column; */
  } 

  .container-one{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    /* padding: 24px 24px 50px 24px; */
    gap: 24px;
    flex-wrap: wrap;
    /* height: auto; */
    /* width: 400px; */
    padding-bottom: 50px;
    /* border: dotted 1px white; */
  }

  .c1-right-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    /* border:solid 1px peru; */
    align-items: center;
    justify-content: center;
    flex:auto;
    flex-wrap: wrap;
    /* min-height: 300px; */
    margin: 12px 0;
    
  }


  .c1-left-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    /* border:solid 1px white; */
    align-items: flex-start;
    /* justify-content: center; */
    flex:auto;
    flex-wrap: wrap;
    margin:12px 0;
    /* min-height: 300px; */
    
  }

  .c1-title {
    color: #F9FAF8;  
    font-size: 48px;
    font-weight: bolder;  
    line-height: 44px;
    margin-left: 6px;
    /* border: solid 1px yellow; */
  }

  .c1-text {
    color: #E5E7EB;
    font-size: 18px; 
    /* border: solid 1px white; */
    margin-left: 6px; 
    
  }

  .c1-image {
    width: 100%;
    max-height: auto;
    /* max-width: 310px; */
    /* max-height: 300px; */
    object-fit: cover;
    object-position: 0 80%;
    /* border: solid 2px white; */
    /* background-color: grey; */
    /* border-radius: 8px; */
    /* justify-self: center; */
    /* align-self: center; */
    flex:1 1 auto;
    /* padding: 8px; */
    margin-left:auto;
    /* flex:1 1 150px; */
  }

  .sign-up {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    padding: 6px 16px;
    width: 100px; 
    margin-top: 8px;
    margin-left: 6px;
  }


/* container-two */

  .container-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0px 36px;
    height:auto ;
    /* border: solid 2px pink; */
    /* flex-wrap: wrap; */
  }  

  .c2-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    margin: 30px 0px;
    text-align: center;
  }

  .c2-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  .c2-image-container {
    /* width: 60 vmin; */
    /* width: 800px; */
    margin: 0 8px;
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    justify-content: center;
    align-items: center;
    /* height:auto; */
    /* border: solid 2px red; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    
    /* flex: 1 1 0; */
  }

  .c2-img-txt-ind-cont {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 24px;
    
    /* flex:auto; */
  }

  .c2-img-txt {
    text-align: center;
  }

  /* Container three */

  .container-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0 48px;
    /* border: solid 2px orange; */
  }


  .c3-container-inner {
    max-width: 800px;
    /* border: solid 2px blue; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

  }

  .c3-txt {
    font-size: 32px;
    font-style: italic;
    font-weight: 100;
    /* border: crimson solid 2px; */
    text-align: left;
  }
  
  .c3-citation {
    /* text-align: right ; */
    font-weight: 900;
    padding-top: 12px;
    /* border: solid darkmagenta 2px; */
    padding-right: 12px;
  }

  /* conainer four */

  .container-four {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: darkmagenta solid 2px; */
    padding: 48px;
  }

  .c4-inner-container-one {
    width: 800px;
    display: flex;
    justify-content: space-around;
    /* border: chartreuse 2px solid; */
    flex-wrap: wrap;
    background-color: #3882F6;
    padding: 24px;
    border-radius: 8px;

  }

  .c4-inner-container-two {
    display: flex;
    flex-direction: column;
    /* border: crimson 2px solid; */
    


  }

    .c4-title {
      color: #F9FAF8;
      font-weight: bolder;
      font-size: 18px;
    }

    .c4-text {
      color: #F9FAF8;
      padding-top: 6px;
    }

    .sign-up2 {
      border: 2px solid #F9FAF8;
      border-radius: 8px;
      background: #3882F6;
      padding: 6px 16px;
      width: 100px; 
      margin-top: 8px;
      margin-left: 6px;
      color: #F9FAF8;
    }
  

  /* Footer */

    .footer {
      background-color: #1F2937;
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 24px 0;
    }

    .footer-text {
      color: #E5E7EB;
    }